<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-center">
            © 2025 Company, Inc
        </p>

        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
            aria-label="Bootstrap">

            <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>


        <ul class="nav col-md-4 justify-content-end fw-bold text-success">


            <li class="nav-item">
                <a href="{{ url_for('home') }}" class="nav-link px-2">
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url_for('footers.features_section') }}" class="nav-link px-2">
                    Features
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url_for('footers.pricing_section') }}" class="nav-link px-2">
                    Pricing
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url_for('footers.faq_section') }}" class="nav-link px-2">
                    FAQ Section
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url_for('footers.about_section') }}" class="nav-link px-2">
                    About
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url_for('footers.contact_section') }}" class="nav-link px-2">
                    Contact
                    Us</a>
            </li>


        </ul>




    </footer>
</div>