{% from 'macros.html' import category_dropdown %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark py-sm-3">
    <div class="container">
        <a class="navbar-brand" href="#">Rana Universe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn btn-outline-info dropdown-toggle text-wrap" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                            Check Product Categories
                        </button>


                        {{ category_dropdown(categories) }}


                    </div>
                </li>
            </ul>
            <form class="d-flex" role="search" action="/search">
                <input class="form-control me-2" type="search" placeholder="Search Product Name" aria-label="Search"
                    name="q" />
                <button class="btn btn-outline-info" type="submit">Search Here</button>
            </form>
        </div>
    </div>
</nav>