{% extends 'layout.html' %}

{% block title_name %}
Home Page
{% endblock title_name %}


{% block content %}
<main class="container mt-4">
    <div id="home-section" class="content-section">
        <h2>Welcome to the Home
            <span class="bi bi-house">
            </span>
            Page
        </h2>
        <p>This is the content of the home page (Index.html)!</p>
        <button class="btn btn-outline-info text-wrap w-25">Click Me For Nothing</button>
    </div>


    <div class="container border border-danger border-5 my-3">
        <h3>
            Below the Icon is a custom svg icon. Here i used img and path of the svg.
        </h3>

        <h1 class="fw-bold">
            Welcome see This is:
            <img src="{{ url_for('static', filename='house-custom.svg') }}" alt="Custom Home Icon"
                style="width: 1em; height: 1em; vertical-align: middle;">
            Page
        </h1>

        <p>
            Welcome see This is:
            <img src="{{ url_for('static', filename='house-custom.svg') }}" alt="Custom Home Icon"
                style="width: 1em; height: 1em; vertical-align: middle;">
            Page
        </p>

        <h2>
            This is the svg icon for the coconut tree:
            <img src="{{ url_for('static', filename='coconut-tree-custom.svg') }}" alt="Custom Tree Icon"
                style="width: 1em; vertical-align: middle;">
            This is looks good.
        </h2>
    </div>

</main>



{% endblock content %}